/* @import url("https://fonts.google.com/share?selection.family=Andika:ital,wght@0,400;0,700;1,400;1,700"); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container{
  max-width: 800px;
  margin: 20px auto;
}

h3{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px dashed #ccc;
  color: darkslategray;
}

.btn {
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ccc;
}

.green {
  background-color: #4CAF50;
}

.btn.green:hover {
  background-color: #098a10;
}

.red {
  background-color: #e6351e;
}

.btn.red:hover {
  background-color: #ee1109;
}

.input-search{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}


.input-search input{
  width: 400px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;
}

.table th, .table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.table th {
  background-color: #b6b4b4;
}

.table tr:nth-child(even) {
  background-color: #b6b4b4;
}

.table tr:hover{
  background-color: #b1a4a4;
}

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: auto;
}

.modal-content{
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close{
  color: #aaaaaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
}

.close:hover, .close:focus{
  color: #000;
  cursor: pointer;
}

.modal h2 {
  font-weight: 500;
  margin-bottom: 20px;
}

.input-group{
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input{
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  outline: none;
}

.addbtns{
  display: flex;
  justify-content: center;
  align-items: center;
}